.main_btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  outline: none !important;
  background-color: #ff6100;
  color: #ffefe2;
  font-size: 17px;
  font-weight: bold;
  padding: 0px 20px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  overflow: hidden;
  letter-spacing: 0.5px;
  border-radius: 33px;
  z-index: 1;
  line-height: 43px;
  border: none;
  min-width: 144px;
  padding: 0px 30px;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: '';
    background-color: #9d430b;
    width: 100%;
    height: 0%;
    left: 50%;
    top: 50%;
    border-radius: 33px;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: -1;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }

  &:hover {
    &::before {
      height: 410%;
    }

    color: #ffefe2;
  }
}
.main_btn_two{
  background-color: #858585;
  &::before {
    background-color: #6b6b6b;

  }

  &:hover {
    &::before {
      height: 410%;
    }

    color: #ffefe2;
  }
}


button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
