img {
  border: 0 none;
  max-width: 100%;
  vertical-align: top;
}

a {
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;

  /*color: #3e3e3e;*/
  text-decoration: none;

  &:hover,
  &:focus {
    /*color: #fe5e3a;*/
    text-decoration: none;
    outline: none;
  }
}

p {
  line-height: 27px;

  &:last-child {
    margin-bottom: 0px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0px 0px;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

label {
  color: #001c27;
  font-weight: 400;
  margin-bottom: 10px;
}

p:last-child {
  margin-bottom: 0px;
}

.text_red {
  color: #dd4b39;
}

textarea.form-control {
  resize: none;
}

.form-group {
  margin-bottom: 25px;
  position: relative;
  display: inline-block;
  width: 100%;
}

.form-control {
  height: 47px;
  box-shadow: none;
  border: 1px solid #dadada;
  border-radius: 0;
  font-size: 13px;
  color: #747c84;
  border-radius: 50px;

  &:focus {
    box-shadow: none;
    border-color: #dadada;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} /*=====================================	PLACE HOLDER CSSS START HERE 		====================================*/

input {
  &.form-control {
    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &::-ms-placeholder {
      color: #747c84;
    }
  }

  &.textbox::-ms-input-placeholder {
    color: #747c84;
    color: #747c84;
  }
}

.container {
  width: 100%;
  max-width: 1170px;
}

/*===================================== PLACE HOLDER CSSS END HERE 		====================================*/

/*========================================================================
					bootstrap select box over
==========================================================================*/

.bootstrap-select {
  &.open > .dropdown-toggle.btn-default {
    &:hover,
    &:focus {
      background-color: #fff;
    }
  }

  > .dropdown-toggle {
    border: 1px solid #ababab;
  }

  &.btn-group .dropdown-toggle {
    .filter-option,
    .fas {
      color: #555;
    }
  }
}

/*========================================================================
					bootstrap select box over
==========================================================================*/
