.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-light .navbar-nav {
  .nav-link {
    color: #3c3c3c;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 10px;
    padding: 0px 12px;

    i {
      padding-right: 8px;
      font-size: 16px;
    }
  }
  .nav_link_btn {
    background-color: $bg_primary;
    padding: 8px 30px !important;
    border-radius: 50px;
    color: $bg_white !important;
    margin-top: 0px;
    line-height: 25px !important;

    &:hover {
      color: $bg_white !important;
    }
  }

  .main_btn {
    min-width: 124px;
    line-height: 40px;
    font-size: 14px;
  }
}

.navbar-brand {
  padding-top: 0px;
}

.navbar-light .navbar-nav {
  .nav-link {
    &:hover,
    &:focus {
      color: #ff6100;
    }
  }

  .show > .nav-link,
  .active > .nav-link {
    color: #ff6100;
  }

  .nav-link {
    &.show,
    &.active {
      color: #ff6100;
    }
  }
}

.nav-scroll .top_menu_home .navbar-light .navbar-nav .nav-link {
  &:hover,
  &:focus {
    color: #ff6100;
  }
}
.top_menu,
.nav_bar_ctm .navbar-brand {
  position: relative;
}

.topnav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  color: #fff;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  background: #fff;
  box-shadow: 0 0px 20px 2px rgb(0 0 0 / 10%);
}
/*-----------------------TOGGLE STICKY HOME CSS START-----------------------------------------------*/

.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

.nav-toggle-sm {
  transform: scale(0.65);
  margin-right: -0.3125rem;
}

.nav-toggle {
  width: 29px;
  height: 29px;
  display: inline-flex;
  vertical-align: middle;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

.stick {
  width: 35px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #ff6100;
  display: inline-block;
}

.body-menu-opened {
  .collapsed .stick {
    background-color: #ff6100;
  }

  .stick-1 {
    animation: stick-1-open 0.85s ease-out forwards;
  }

  .stick-2 {
    animation: stick-2-open 0.85s linear forwards;
    width: 35px;
    margin-left: 0px;
  }

  .stick-3 {
    animation: stick-3-open 0.85s linear forwards;
  }
}

.stick:last-child {
  margin-bottom: 0px;
}

@-webkit-keyframes stick-1-open {
  0% {
    width: 35px;
  }

  30% {
    width: 3px;
    transform: translate(14px, 0px);
  }

  65% {
    width: 3px;
    transform: translate(14px, -35px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  100% {
    width: 2px;
    transform: translate(9px, 17px);
  }
}

@keyframes stick-1-open {
  0% {
    width: 35px;
  }

  30% {
    width: 3px;
    transform: translate(14px, 0px);
  }

  65% {
    width: 3px;
    transform: translate(14px, -35px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  100% {
    width: 2px;
    transform: translate(9px, 17px);
  }
}

@-webkit-keyframes stick-2-open {
  65% {
    width: 35px;
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    width: 35px;
    transform: translate(0px, 0px) rotate(45deg);
  }
}

@keyframes stick-2-open {
  65% {
    width: 35px;
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    width: 35px;
    transform: translate(0px, 0px) rotate(45deg);
  }
}

@-webkit-keyframes stick-3-open {
  65% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    transform: translate(0px, -8px) rotate(-45deg);
  }
}

@keyframes stick-3-open {
  65% {
    transform: translate(0px, 0px) rotate(0deg);
  }

  100% {
    transform: translate(0px, -8px) rotate(-45deg);
  }
}

.body-menu-close {
  .stick-1 {
    width: 3px;
    animation: stick-1-close 0.85s ease-out forwards;
  }

  .stick-2 {
    animation: stick-2-close 0.85s ease-out forwards;
    margin-left: 0px;
  }

  .stick-3 {
    animation: stick-3-close 0.85s ease-out forwards;
  }
}

@-webkit-keyframes stick-1-close {
  0%,
  70% {
    width: 0px;
    transform: translate(0, 0);
  }

  100% {
    width: 35px;
    transform: translate(0, 0);
  }
}

@keyframes stick-1-close {
  0%,
  70% {
    width: 0px;
    transform: translate(0, 0);
  }

  100% {
    width: 35px;
    transform: translate(0, 0);
  }
}

@-webkit-keyframes stick-2-close {
  0% {
    width: 35px;
    transform: translate(0px, 0px) rotate(45deg);
  }

  20% {
    width: 3px;
    transform: translate(0, 0px) rotate(45deg);
  }

  40% {
    width: 0px;
  }

  65% {
    transform: translate(0, -26px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  80% {
    width: 0px;
  }

  100% {
    width: 35px;
    transform: translate(0, 0px);
  }
}

@keyframes stick-2-close {
  0% {
    width: 35px;
    transform: translate(0px, 0px) rotate(45deg);
  }

  20% {
    width: 3px;
    transform: translate(0, 0px) rotate(45deg);
  }

  40% {
    width: 0px;
  }

  65% {
    transform: translate(0, -26px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  80% {
    width: 0px;
  }

  100% {
    width: 35px;
    transform: translate(0, 0px);
  }
}

@-webkit-keyframes stick-3-close {
  0% {
    width: 35px;
    transform: translate(0px, -8px) rotate(-45deg);
  }

  20% {
    width: 3px;
    transform: translate(0, -8px) rotate(-45deg);
  }

  40% {
  }

  65% {
    transform: translate(0, -35px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  90% {
    width: 3px;
  }

  100% {
    width: 35px;
    transform: translate(0, 0px);
  }
}

@keyframes stick-3-close {
  0% {
    width: 35px;
    transform: translate(0px, -8px) rotate(-45deg);
  }

  20% {
    width: 3px;
    transform: translate(0, -8px) rotate(-45deg);
  }

  40% {
  }

  65% {
    transform: translate(0, -35px);
    animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }

  90% {
    width: 3px;
  }

  100% {
    width: 35px;
    transform: translate(0, 0px);
  }
}

/*-----------------------TOGGLE STICKY HOME CSS end-----------------------------------------------*/
