@media (max-width: 1300px) {
}

@media (max-width: 1199px) {
  /* ----------------------------- home_css_start ----------------------------- */
  .search_home_main {
    .search_home_in {
      .search_title,
      .search_form,
      .advance_search_main {
        padding-left: 40px;
      }
    }
  }
  .about_home {
    margin: 50px 0px 50px 0px;
    .about_thumb_big {
      transform: translateY(135px) translateX(0);
    }
    .about_thumb_shape {
      left: 35px;
    }
  }
  .mobile_service_sec {
    .features_item {
      .features_content {
        h3 {
          font-size: 20px;
        }
      }
    }
  }
  .special_no {
    margin-top: 30px;
  }
  .web_title {
    margin-bottom: 35px;
  }
  .footer_sec {
    margin-top: 30px;
    .footer_btm {
      .copyrights {
        padding-top: 0px;
      }
    }
  }
  /* ----------------------------- home_css_end ----------------------------- */

  /* ----------------------------- store_css_star ----------------------------- */
  .inner_page_sce {
    margin-top: 40px;
  }
  /* ----------------------------- store_css_end ----------------------------- */
}

@media (max-width: 991px) {
  /* ----------------------------- home_css_start ----------------------------- */
  .navbar-light {
    .navbar-nav {
      .nav_link_btn {
        margin-top: 10px;
      }
    }
  }
  .search_home_main {
    .search_home_in {
      &::before {
        right: 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
      }
      .search_title,
      .search_form,
      .advance_search_main {
        padding-left: 20px;
      }
    }
  }
  .about_home {
    margin: 30px 0px 30px 0px;

    .about_home_left {
      margin-bottom: 20px;
    }
    .about_thumb_wrap {
      margin-bottom: 130px;
    }
    .about_thumb_shape {
      left: 200px;
    }
  }

  .steps_three {
    .steps_box {
      text-align: center;
    }
  }
  .payment_info {
    padding: 25px 0px 10px 0px;
    .payment_info_blog {
      margin-bottom: 25px;
    }
  }

  .mobile_service_sec {
    margin-top: 40px;
    .features_service {
      padding: 0px 10px;
    }
    .features_item {
      display: block;
      text-align: center;
    }
    .features-6 {
      padding-top: 37px;
      padding-bottom: 30px;
    }
    .features-2,
    .features-4,
    .features-1,
    .features-3,
    .features-5 {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  .footer_sec {
    padding: 30px 0px;
    .footer_part_two {
      margin-top: 20px;
      ul {
        li {
          margin-bottom: 0;
        }
      }
    }
  }
  /* ----------------------------- home_css_end ----------------------------- */

  /* ----------------------------- store_css_start ---------------------------- */
  .filters_main {
    display: none;
  }
  .filters_mobile {
    display: block;
    .offcanvas-header {
      padding-bottom: 0px;
      .offcanvas-title {
        font-weight: bold;
        color: $text_secondary;
      }
    }
    .filters_main {
      display: block;
      border-top: none;
      box-shadow: none;
      border-radius: 0px;

      .filter_price {
        padding-left: 0px;
      }
      .fil_category {
        padding-left: 0px;
        .form-group {
          width: 49%;
        }
      }
      .filters_btn {
        .main_btn {
          &:hover::before {
            height: 740%;
          }
        }
      }
    }
    .offcanvas-body {
      padding-top: 0px;
      padding: 0px;
    }
  }

  .store_top_part {
    .right_part {
      .filters_btn_new {
        display: none;
      }
    }
  }
  #panelsStayOpen-collapseThree {
    .accordion-body {
      height: 150px;
      overflow-y: scroll;
    }
  }
  .load_more_btn {
    margin-bottom: 20px;
  }

  /* ----------------------------- store_css_end ---------------------------- */
}

@media (max-width: 767px) {
  /* ----------------------------- home_css_start ----------------------------- */
  .nav_bar_ctm {
    .navbar-brand {
      img {
        width: 80%;
      }
    }
  }
  .search_home_main {
    margin-top: 0px;
    background: #1f1f1f;
    .search_home_in {
      padding: 20px 0;
      &::before {
        right: 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }
      .search_title,
      .search_form,
      .advance_search_main {
        padding-left: 0px;
      }
      .search_title {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 10px;
      }
      .search_form {
        p {
          font-size: 13px;
          line-height: 22px;
        }
        ul {
          display: inline-block;
          width: 100%;
          li {
            width: 100%;
            margin-right: 0px;
          }
          .form-group {
            margin-bottom: 15px;
          }
        }
        .search_btn {
          .main_btn {
            width: 100%;
            &:hover::before {
              height: 380px;
            }
          }
        }
      }
      .advance_search_main {
        .main_btn {
          width: 100%;
          text-align: center;
          &:hover::before {
            height: 380px;
          }
        }
      }
    }
  }
  .modal-content {
    .advance_lbl {
      font-size: 14px;
    }
    .modal-footer {
      padding-left: 0px;
      padding-right: 0px;
      .main_btn {
        width: 100%;
      }
    }
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    font-size: 30px;
  }
  .about_home {
    margin: 20px 0px 30px 0px;
    .about_thumb_wrap {
      padding-left: 0px;
      margin-bottom: 0px;
    }
    .about_thumb_shape {
      display: none;
    }
    .about_thumb_small {
      position: relative;
    }
    .about_thumb_big {
      transform: translateY(0px) translateX(0);
    }
    .about_home_left {
      h2 {
        line-height: 30px;
        font-size: 22px;
        margin: 5px 0px;
      }
    }
  }
  .web_title {
    margin-bottom: 20px;
    h4 {
      font-size: 24px;
      line-height: 30px;
    }
    p {
      font-size: 13px;
    }
  }
  .steps_box {
    padding: 15px 10px;
    a {
      margin: 15px 0px 5px 0px;
    }
  }
  .mobile_service_sec {
    margin-top: 20px;
    .features_service {
      margin-top: 15px;
      display: block;
      &::before {
        display: none;
      }

      .features_item_box {
        border-right: none;
        padding-right: 0px;
        margin-right: 0px;
      }
      .features-6 {
        padding-top: 37px;
        padding-bottom: 30px;
      }
      .features-2,
      .features-4,
      .features-1,
      .features-3,
      .features-5 {
        padding-bottom: 0px;
      }
    }
    .features_item {
      .features_content {
        margin-left: 0px;
      }
    }
  }
  .footer_sec {
    padding: 20px 0px;
    margin-top: 10px;
    .footer_part_two {
      ul {
        li {
          a {
            color: #fff;
            font-size: 14px;
          }
        }
      }
    }
  }
  /* ----------------------------- home_css_end ----------------------------- */

  /* ----------------------------- store_css_strat ---------------------------- */
  .sub_banner {
    background-position: bottom;
    h1 {
      font-size: 35px;
      padding: 50px 0px 55px 0px;
    }
  }
  .inner_page_sce {
    margin-top: 20px;
  }
  .store_top_part {
    .left_part {
      width: 100%;
    }
    .right_part {
      float: left;
      width: 100%;
      margin-top: 10px;
    }
  }
  /* ----------------------------- store_css_end ---------------------------- */
}

@media (max-width: 568px) {
}

@media (max-width: 480px) {
}
