.custom-checkbox [type='checkbox'] {
  &:not(:checked),
  &:checked {
    left: -9999px;
    position: absolute;
  }

  &:not(:checked) + label:before,
  &:checked + label:before {
    border: 1px solid $bg_primary;
    content: '';
    height: 20px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 20px;
  }

  &:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    color: #fff;
    content: '\f00c';
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 2px;
    left: 0px;
    line-height: 1.45;
    padding: 1px 2px 2px 3px;
    transition: all 0.2s ease 0s;
    background-color: $bg_primary;
    width: 20px;
    height: 20px;
  }

  &:checked + label:after {
    color: #fff;
    content: '\f00c';
    font-size: 14px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 2px;
    left: 0px;
    line-height: 1.45;
    padding: 1px 2px 2px 3px;
    transition: all 0.2s ease 0s;
    background-color: $bg_primary;
    width: 20px;
    height: 20px;
  }

  &:not(:checked) + label,
  &:checked + label {
    cursor: pointer;
    padding-left: 30px;
    position: relative;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 12px;
  }
}

/*	CUSTOM check CSS START	*/
/*	CUSTOM RADIO CSS START	*/

.radio-btn-small {
  display: inline-block;
  margin-right: 15px;
  padding: 0;
  position: relative;
  padding-left: 30px;
  margin-top: 3px;

  &:last-child {
    margin-right: 0;
  }
}

input[type='radio'] {
  display: none;

  + label {
    font-size: 14px;
    margin-bottom: 0;
    cursor: pointer;
    font-weight: 400;

    span {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin: 2px 8px 0 0;
      vertical-align: middle;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0px;
      border: 1px solid $bg_primary;
      background-color: #fff;
      border-radius: 100px;
    }
  }

  &:checked + label {
    span {
      &:after {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background-color: $bg_primary;
        top: 3px;
        left: 3px;
        border-radius: 100px;
      }

      background-color: #fff;
    }

    color: #282828;
  }
}
