/* ------------------------------- text_color ------------------------------- */
$text_primary: #3c3c3c;
$text_secondary: #ff6100;
$text_info: #797979;
$text_white: #fff;

/* ------------------------------ border_color ------------------------------ */
$border_primary: #e1e1e1;
$border_white: #ffffff;

/* ---------------------------- background_color ---------------------------- */
$bg_primary: #ff6100;
$bg_secondary: #fd8f4c;
$bg_light: #ffe6d7;
$bg_white: #fff;
