/* ------------------------------- text_color ------------------------------- */
/* ------------------------------ border_color ------------------------------ */
/* ---------------------------- background_color ---------------------------- */
.main_btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-appearance: none;
  outline: none !important;
  background-color: #ff6100;
  color: #ffefe2;
  font-size: 17px;
  font-weight: bold;
  padding: 0px 20px;
  transition: all 0.3s linear;
  overflow: hidden;
  letter-spacing: 0.5px;
  border-radius: 33px;
  z-index: 1;
  line-height: 43px;
  border: none;
  min-width: 144px;
  padding: 0px 30px;
  text-transform: uppercase;
}
.main_btn::before {
  position: absolute;
  content: "";
  background-color: #9d430b;
  width: 100%;
  height: 0%;
  left: 50%;
  top: 50%;
  border-radius: 33px;
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: -1;
  transition: all 500ms ease;
}
.main_btn:hover {
  color: #ffefe2;
}
.main_btn:hover::before {
  height: 410%;
}

.main_btn_two {
  background-color: #858585;
}
.main_btn_two::before {
  background-color: #6b6b6b;
}
.main_btn_two:hover {
  color: #ffefe2;
}
.main_btn_two:hover::before {
  height: 410%;
}

button {
  transition: all 0.3s ease-out 0s;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: #3c3c3c;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 10px;
  padding: 0px 12px;
}
.navbar-light .navbar-nav .nav-link i {
  padding-right: 8px;
  font-size: 16px;
}
.navbar-light .navbar-nav .nav_link_btn {
  background-color: #ff6100;
  padding: 8px 30px !important;
  border-radius: 50px;
  color: #fff !important;
  margin-top: 0px;
  line-height: 25px !important;
}
.navbar-light .navbar-nav .nav_link_btn:hover {
  color: #fff !important;
}
.navbar-light .navbar-nav .main_btn {
  min-width: 124px;
  line-height: 40px;
  font-size: 14px;
}

.navbar-brand {
  padding-top: 0px;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #ff6100;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link {
  color: #ff6100;
}
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #ff6100;
}

.nav-scroll .top_menu_home .navbar-light .navbar-nav .nav-link:hover, .nav-scroll .top_menu_home .navbar-light .navbar-nav .nav-link:focus {
  color: #ff6100;
}

.top_menu,
.nav_bar_ctm .navbar-brand {
  position: relative;
}

.topnav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  color: #fff;
  transition: all 0.7s;
  background: #fff;
  box-shadow: 0 0px 20px 2px rgba(0, 0, 0, 0.1);
}

/*-----------------------TOGGLE STICKY HOME CSS START-----------------------------------------------*/
.navbar-light .navbar-toggler {
  border: none;
  outline: none;
}

.nav-toggle-sm {
  transform: scale(0.65);
  margin-right: -0.3125rem;
}

.nav-toggle {
  width: 29px;
  height: 29px;
  display: inline-flex;
  vertical-align: middle;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}

.stick {
  width: 35px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #ff6100;
  display: inline-block;
}

.body-menu-opened .collapsed .stick {
  background-color: #ff6100;
}
.body-menu-opened .stick-1 {
  -webkit-animation: stick-1-open 0.85s ease-out forwards;
          animation: stick-1-open 0.85s ease-out forwards;
}
.body-menu-opened .stick-2 {
  -webkit-animation: stick-2-open 0.85s linear forwards;
          animation: stick-2-open 0.85s linear forwards;
  width: 35px;
  margin-left: 0px;
}
.body-menu-opened .stick-3 {
  -webkit-animation: stick-3-open 0.85s linear forwards;
          animation: stick-3-open 0.85s linear forwards;
}

.stick:last-child {
  margin-bottom: 0px;
}

@-webkit-keyframes stick-1-open {
  0% {
    width: 35px;
  }
  30% {
    width: 3px;
    transform: translate(14px, 0px);
  }
  65% {
    width: 3px;
    transform: translate(14px, -35px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  100% {
    width: 2px;
    transform: translate(9px, 17px);
  }
}
@keyframes stick-1-open {
  0% {
    width: 35px;
  }
  30% {
    width: 3px;
    transform: translate(14px, 0px);
  }
  65% {
    width: 3px;
    transform: translate(14px, -35px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  100% {
    width: 2px;
    transform: translate(9px, 17px);
  }
}
@-webkit-keyframes stick-2-open {
  65% {
    width: 35px;
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    width: 35px;
    transform: translate(0px, 0px) rotate(45deg);
  }
}
@keyframes stick-2-open {
  65% {
    width: 35px;
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    width: 35px;
    transform: translate(0px, 0px) rotate(45deg);
  }
}
@-webkit-keyframes stick-3-open {
  65% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(0px, -8px) rotate(-45deg);
  }
}
@keyframes stick-3-open {
  65% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(0px, -8px) rotate(-45deg);
  }
}
.body-menu-close .stick-1 {
  width: 3px;
  -webkit-animation: stick-1-close 0.85s ease-out forwards;
          animation: stick-1-close 0.85s ease-out forwards;
}
.body-menu-close .stick-2 {
  -webkit-animation: stick-2-close 0.85s ease-out forwards;
          animation: stick-2-close 0.85s ease-out forwards;
  margin-left: 0px;
}
.body-menu-close .stick-3 {
  -webkit-animation: stick-3-close 0.85s ease-out forwards;
          animation: stick-3-close 0.85s ease-out forwards;
}

@-webkit-keyframes stick-1-close {
  0%, 70% {
    width: 0px;
    transform: translate(0, 0);
  }
  100% {
    width: 35px;
    transform: translate(0, 0);
  }
}
@keyframes stick-1-close {
  0%, 70% {
    width: 0px;
    transform: translate(0, 0);
  }
  100% {
    width: 35px;
    transform: translate(0, 0);
  }
}
@-webkit-keyframes stick-2-close {
  0% {
    width: 35px;
    transform: translate(0px, 0px) rotate(45deg);
  }
  20% {
    width: 3px;
    transform: translate(0, 0px) rotate(45deg);
  }
  40% {
    width: 0px;
  }
  65% {
    transform: translate(0, -26px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  80% {
    width: 0px;
  }
  100% {
    width: 35px;
    transform: translate(0, 0px);
  }
}
@keyframes stick-2-close {
  0% {
    width: 35px;
    transform: translate(0px, 0px) rotate(45deg);
  }
  20% {
    width: 3px;
    transform: translate(0, 0px) rotate(45deg);
  }
  40% {
    width: 0px;
  }
  65% {
    transform: translate(0, -26px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  80% {
    width: 0px;
  }
  100% {
    width: 35px;
    transform: translate(0, 0px);
  }
}
@-webkit-keyframes stick-3-close {
  0% {
    width: 35px;
    transform: translate(0px, -8px) rotate(-45deg);
  }
  20% {
    width: 3px;
    transform: translate(0, -8px) rotate(-45deg);
  }
  65% {
    transform: translate(0, -35px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  90% {
    width: 3px;
  }
  100% {
    width: 35px;
    transform: translate(0, 0px);
  }
}
@keyframes stick-3-close {
  0% {
    width: 35px;
    transform: translate(0px, -8px) rotate(-45deg);
  }
  20% {
    width: 3px;
    transform: translate(0, -8px) rotate(-45deg);
  }
  65% {
    transform: translate(0, -35px);
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
            animation-timing-function: cubic-bezier(0, 1, 1, 1);
  }
  90% {
    width: 3px;
  }
  100% {
    width: 35px;
    transform: translate(0, 0px);
  }
}
/*-----------------------TOGGLE STICKY HOME CSS end-----------------------------------------------*/
@-webkit-keyframes float-bob {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes float-bob {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.animation_1 {
  -webkit-animation-name: float-bob;
          animation-name: float-bob;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes icon-bounce {
  0%, 100%, 20%, 50%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
@keyframes icon-bounce {
  0%, 100%, 20%, 50%, 80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
@-webkit-keyframes aplpg_ZoomInZoomOut {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(0.6) rotateY(90deg);
  }
  100% {
    transform: scale(1) rotateY(0);
  }
}
@keyframes aplpg_ZoomInZoomOut {
  0% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(0.6) rotateY(90deg);
  }
  100% {
    transform: scale(1) rotateY(0);
  }
}
img {
  border: 0 none;
  max-width: 100%;
  vertical-align: top;
}

a {
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
  /*color: #3e3e3e;*/
  text-decoration: none;
}
a:hover, a:focus {
  /*color: #fe5e3a;*/
  text-decoration: none;
  outline: none;
}

p {
  line-height: 27px;
}
p:last-child {
  margin-bottom: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0px 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

label {
  color: #001c27;
  font-weight: 400;
  margin-bottom: 10px;
}

p:last-child {
  margin-bottom: 0px;
}

.text_red {
  color: #dd4b39;
}

textarea.form-control {
  resize: none;
}

.form-group {
  margin-bottom: 25px;
  position: relative;
  display: inline-block;
  width: 100%;
}

.form-control {
  height: 47px;
  box-shadow: none;
  border: 1px solid #dadada;
  border-radius: 0;
  font-size: 13px;
  color: #747c84;
  border-radius: 50px;
}
.form-control:focus {
  box-shadow: none;
  border-color: #dadada;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} /*=====================================	PLACE HOLDER CSSS START HERE 		====================================*/
input.form-control::-webkit-input-placeholder, input.form-control::-moz-placeholder, input.form-control::-ms-placeholder {
  color: #747c84;
}
input.textbox::-ms-input-placeholder {
  color: #747c84;
  color: #747c84;
}

.container {
  width: 100%;
  max-width: 1170px;
}

/*===================================== PLACE HOLDER CSSS END HERE 		====================================*/
/*========================================================================
					bootstrap select box over
==========================================================================*/
.bootstrap-select.open > .dropdown-toggle.btn-default:hover, .bootstrap-select.open > .dropdown-toggle.btn-default:focus {
  background-color: #fff;
}
.bootstrap-select > .dropdown-toggle {
  border: 1px solid #ababab;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option,
.bootstrap-select.btn-group .dropdown-toggle .fas {
  color: #555;
}

/*========================================================================
					bootstrap select box over
==========================================================================*/
.custom-checkbox [type=checkbox]:not(:checked), .custom-checkbox [type=checkbox]:checked {
  left: -9999px;
  position: absolute;
}
.custom-checkbox [type=checkbox]:not(:checked) + label:before, .custom-checkbox [type=checkbox]:checked + label:before {
  border: 1px solid #ff6100;
  content: "";
  height: 20px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 20px;
}
.custom-checkbox [type=checkbox]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  color: #fff;
  content: "\f00c";
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 2px;
  left: 0px;
  line-height: 1.45;
  padding: 1px 2px 2px 3px;
  transition: all 0.2s ease 0s;
  background-color: #ff6100;
  width: 20px;
  height: 20px;
}
.custom-checkbox [type=checkbox]:checked + label:after {
  color: #fff;
  content: "\f00c";
  font-size: 14px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  top: 2px;
  left: 0px;
  line-height: 1.45;
  padding: 1px 2px 2px 3px;
  transition: all 0.2s ease 0s;
  background-color: #ff6100;
  width: 20px;
  height: 20px;
}
.custom-checkbox [type=checkbox]:not(:checked) + label, .custom-checkbox [type=checkbox]:checked + label {
  cursor: pointer;
  padding-left: 30px;
  position: relative;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 12px;
}

/*	CUSTOM check CSS START	*/
/*	CUSTOM RADIO CSS START	*/
.radio-btn-small {
  display: inline-block;
  margin-right: 15px;
  padding: 0;
  position: relative;
  padding-left: 30px;
  margin-top: 3px;
}
.radio-btn-small:last-child {
  margin-right: 0;
}

input[type=radio] {
  display: none;
}
input[type=radio] + label {
  font-size: 14px;
  margin-bottom: 0;
  cursor: pointer;
  font-weight: 400;
}
input[type=radio] + label span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 2px 8px 0 0;
  vertical-align: middle;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0px;
  border: 1px solid #ff6100;
  background-color: #fff;
  border-radius: 100px;
}
input[type=radio]:checked + label {
  color: #282828;
}
input[type=radio]:checked + label span {
  background-color: #fff;
}
input[type=radio]:checked + label span:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ff6100;
  top: 3px;
  left: 3px;
  border-radius: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #797979;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke: 1px transparent;
  background-color: #fff;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: 0px;
}
.page-wrap:after {
  content: "";
  display: block;
}

.container {
  width: 100%;
  max-width: 1170px;
}

/* ----------------------------- home_css_start ----------------------------- */
.in_content {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
}

.banner_text {
  color: #fff;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.banner_text h1 {
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 35px;
}
.banner_text p {
  font-weight: 500;
  line-height: 27px;
  max-width: 750px;
  margin: 0px auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-size: 50px;
  color: #ff6100;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 9;
}

.home_about_sec {
  margin-bottom: 40px;
}

.hed_number {
  position: relative;
  margin-left: 10px;
  width: 198px;
}
.hed_number .call_icon {
  position: absolute;
  font-size: 24px;
  color: #ff6100;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  left: 0px;
  top: 5px;
}

.call_info {
  display: inline-block;
  vertical-align: middle;
  padding-left: 40px;
}
.call_info span {
  width: 100%;
  color: #ff5f00;
  font-size: 13px;
}
.call_info a {
  width: 100%;
  display: inline-block;
  color: #3c3c3c;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

.search_home_main {
  position: relative;
  margin-top: -65px;
}
.search_home_main .search_home_in {
  position: relative;
  padding: 45px 12px 45px 0px;
  z-index: 1;
}
.search_home_main .search_home_in::before {
  content: "";
  height: 100%;
  width: 135%;
  background-color: #1f1f1f;
  position: absolute;
  bottom: 0;
  right: 70px;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}
.search_home_main .search_home_in .search_title {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 44px;
}
.search_home_main .search_home_in .search_form p {
  color: #fff;
  margin-bottom: 10px;
}
.search_home_main .search_home_in .search_form ul {
  display: flex;
}
.search_home_main .search_home_in .search_form ul li {
  margin-right: 15px;
  width: 224px;
}
.search_home_main .search_home_in .search_form ul li.search_btn {
  width: auto;
}
.search_home_main .search_home_in .search_form ul input.form-control::-webkit-input-placeholder {
  color: #fff;
}
.search_home_main .search_home_in .search_form ul input.form-control::-moz-placeholder {
  color: #fff;
}
.search_home_main .search_home_in .search_form ul input.form-control::-ms-placeholder {
  color: #fff;
}
.search_home_main .search_home_in .search_form ul input.textbox::-ms-input-placeholder {
  color: #fff;
}
.search_home_main .search_home_in .search_form ul input.textbox::-ms-input-placeholder {
  color: #fff;
}
.search_home_main .search_home_in .search_form .form-control {
  border-radius: 50px;
  background-color: #3d3d3d;
  border-color: transparent;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #fff;
}
.search_home_main .search_home_in .search_btn .main_btn {
  line-height: 46px;
}

.about_home {
  margin: 50px 0px 80px 0px;
}
.about_home .about_home_left h5 {
  color: #ff6100;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
}
.about_home .about_home_left h2 {
  font-weight: 900;
  font-size: 25px;
  color: #3c3c3c;
  max-width: 414px;
  display: inline-block;
  line-height: 34px;
  margin: 10px 0px;
}
.about_home .about_home_left p {
  font-size: 14px;
  color: #797979;
  line-height: 26px;
}
.about_home .about_home_left ul li {
  margin-bottom: 7px;
  font-size: 15px;
  color: #393939;
  font-weight: 600;
}
.about_home .about_home_left ul li i {
  color: #ff6100;
  padding-right: 5px;
}
.about_home .about_thumb_wrap {
  position: relative;
  padding-left: 40px;
}
.about_home .about_thumb_small {
  border-radius: 5px;
  position: absolute;
  left: 0px;
  top: 0;
}
.about_home .about_thumb_big {
  text-align: right;
  z-index: 1;
  transform: translateY(135px) translateX(35px);
}
.about_home .about_thumb_shape {
  position: absolute;
  top: 235px;
  left: 65px;
  z-index: -1;
}

.web_title {
  margin-bottom: 45px;
}
.web_title h4 {
  font-size: 30px;
  color: #3c3c3c;
  font-weight: 900;
}
.web_title p {
  font-size: 16px;
  color: #ff6100;
  margin-bottom: 0px;
  margin-top: 5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.steps_box {
  padding: 25px 20px;
  background-color: #ffe6d7;
  border-radius: 10px;
  margin-bottom: 40px;
}
.steps_box .steps_icon {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.steps_box:hover .steps_icon {
  -webkit-animation: icon-bounce 0.8s ease-out infinite;
  animation: icon-bounce 0.8s ease-out infinite;
}
.steps_box a {
  font-size: 25px;
  margin: 20px 0px 10px 0px;
  display: inline-block;
  color: #3c3c3c;
  font-weight: 900;
}

.payment_info {
  background-image: url(../images/payment_info_bg.jpg);
  padding: 25px 0px 30px 0px;
}
.payment_info .payment_info_blog h3 {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  margin: 20px 0px 15px;
}
.payment_info .payment_info_blog p {
  color: #fff;
  line-height: 24px;
  margin-bottom: 0px;
}
.payment_info .payment_info_blog img {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.payment_info .payment_info_blog:hover img {
  -webkit-animation: 0.3s aplpg_ZoomInZoomOut linear;
          animation: 0.3s aplpg_ZoomInZoomOut linear;
}

.mobile_service_sec {
  margin-top: 50px;
  position: relative;
}
.mobile_service_sec .features_service {
  border: 3px solid #e1e1e1;
  border-radius: 10px;
  padding: 40px 30px;
  position: relative;
  display: flex;
  margin-top: 45px;
}
.mobile_service_sec .features_service::before {
  content: "";
  background: #e1e1e1;
  width: 95%;
  margin: auto;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}
.mobile_service_sec .features_item_box {
  border-right: 1px solid #e1e1e1;
  padding-right: 20px;
  margin-right: 20px;
}
.mobile_service_sec .features_item {
  display: flex;
}
.mobile_service_sec .features_item:hover .features_icon {
  -webkit-animation: icon-bounce 0.8s ease-out infinite;
  animation: icon-bounce 0.8s ease-out infinite;
}
.mobile_service_sec .features_item .features_content {
  flex: 1;
  margin-left: 14px;
}
.mobile_service_sec .features_item .features_content h3 {
  font-weight: 900;
  color: #3c3c3c;
  font-size: 23px;
  margin-bottom: 8px;
}
.mobile_service_sec .features_item .features_content p {
  font-size: 14px;
  line-height: 26px;
}
.mobile_service_sec .features_item .features_icon {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mobile_service_sec .features-2,
.mobile_service_sec .features-4,
.mobile_service_sec .features-6,
.mobile_service_sec .features-1,
.mobile_service_sec .features-3,
.mobile_service_sec .features-5 {
  padding-top: 45px;
  padding-bottom: 45px;
}
.mobile_service_sec .features-box-3 {
  border-right: 0;
  padding-right: 0;
  margin-right: 0;
}

.special_no {
  margin-top: 40px;
}
.special_no .owl-theme .owl-nav .owl-prev,
.special_no .owl-theme .owl-nav .owl-next {
  display: none;
}
.special_no .special_no_box {
  background-color: #ffe6d7;
  border-radius: 0px 40px;
  margin-bottom: 30px;
  display: inline-block;
  width: 100%;
}
.special_no .special_no_box .special_no_box_top_one {
  position: relative;
  padding: 18px 18px 0px 18px;
}
.special_no .special_no_box .special_no_box_top_one h4 {
  color: #3c3c3c;
  font-weight: 900;
  font-size: 23px;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}
.special_no .special_no_box .special_no_box_top_one ul {
  margin: 10px 0px 15px;
}
.special_no .special_no_box .special_no_box_top_one ul li {
  display: inline-block;
  color: #797979;
}
.special_no .special_no_box .special_no_box_top_one ul li + li {
  padding: 0px 8px;
}
.special_no .special_no_box .special_no_box_top_one ul li:last-child {
  text-transform: uppercase;
  color: #ff6100;
  padding-left: 15px;
}
.special_no .special_no_box .special_no_box_top_one a {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 23px;
  color: #ff4444;
}
.special_no .special_no_box .special_no_box_btm {
  border-radius: 0px 20px 0px 20px;
  background-color: #fd8f4c;
  text-align: center;
  font-size: 22px;
  font-weight: 900;
  color: #fff;
  letter-spacing: 0.5px;
  padding: 6px 0px;
}

.footer_sec {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 0px;
  position: relative;
  z-index: 2;
  background-image: url(../images/footer_bg.jpg);
  margin-top: 60px;
  padding-bottom: 30px;
}
.footer_sec h3 {
  font-size: 23px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
}
.footer_sec .footer_part_one a {
  display: inline-block;
  margin-bottom: 30px;
}
.footer_sec .footer_part_one p {
  color: #fff;
  margin-top: 10px;
}
.footer_sec .footer_part_two {
  margin-top: 30px;
}
.footer_sec .footer_part_two h3 {
  margin-bottom: 35px;
}
.footer_sec .footer_part_two ul li {
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 15px;
}
.footer_sec .footer_part_two ul li a {
  color: #fff;
  font-size: 16px;
}
.footer_sec .footer_part_two ul li a:hover {
  color: #fd8f4c;
}
.footer_sec .footer_part_three_in {
  padding: 70px 30px 30px 30px;
  background-color: #ff6100;
  position: relative;
  margin-top: -92px;
  margin-bottom: -30px;
}
.footer_sec .footer_part_three_in:before {
  position: absolute;
  right: 20px;
  bottom: 0;
  background: url(../images/newsletter_img.png) no-repeat center center/contain;
  content: "";
  width: 74px;
  height: 65px;
}
.footer_sec .footer_part_three_in .box_border {
  width: 0;
  position: absolute;
  top: 0;
  height: 0;
  border-top: 42px solid #ffffff;
  border-left: 42px solid transparent;
  right: 0;
}
.footer_sec .footer_part_three_in form {
  margin-top: 30px;
  margin-bottom: 60px;
}
.footer_sec .footer_part_three_in .form-group {
  margin-bottom: 10px;
}
.footer_sec .footer_part_three_in .form-control {
  border-radius: 50px;
  font-size: 15px;
  border: none;
  padding-left: 15px;
}
.footer_sec .footer_part_three_in .main_btn {
  width: 100%;
  display: inline-block;
  background-color: #3c3c3c;
  line-height: 45px;
}
.footer_sec .footer_part_three_in .main_btn::before, .footer_sec .footer_part_three_in .main_btn:hover::before {
  background-color: #3c3c3c;
}

.footer_btm {
  width: 100%;
  display: inline-block;
  background-color: #3c3c3c;
  padding: 10px 0px;
}
.footer_btm .copyrights {
  color: #fff;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.advance_lbl {
  font-weight: bold;
  font-size: 16px;
}

/* ------------------------------ home_css_end ------------------------------ */
/* ----------------------------- popup_css_start ---------------------------- */
.modal-dialog .modal-content {
  border: none;
}
.modal-dialog .modal-content .modal-header {
  background-color: #ff6100;
  padding: 10px 15px;
}
.modal-dialog .modal-content .modal-header .modal-title {
  color: #fff;
  font-weight: bold;
}
.modal-dialog .modal-content .modal-body .form-group .form-control {
  border-radius: 50px;
  padding-left: 15px;
}
.modal-dialog .modal-content .modal-body .form-group textarea.form-control {
  min-height: auto;
  line-height: normal;
  height: auto;
  border-radius: 25px;
  padding-top: 10px;
}

/* ----------------------------- popup_css_end ---------------------------- */
/* ----------------------------- store_css_start ---------------------------- */
.sub_banner {
  background-image: url(../images/sub_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sub_banner h1 {
  color: #fff;
  font-size: 50px;
  padding: 100px 0px 125px 0px;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  letter-spacing: 2px;
}

.inner_page_sce {
  margin-top: 50px;
}

.filters_main {
  overflow: hidden;
  width: 100%;
  top: 60px;
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 12px rgba(247, 202, 176, 0.5);
  border-radius: 10px;
  background: #fff;
}
.filters_main h3 {
  font-size: 22px;
  color: #3c3c3c;
  font-weight: 900;
  padding: 15px;
  border-bottom: 1px solid #f7cab0;
  margin-bottom: 20px;
}
.filters_main h4 {
  color: #3c3c3c;
  font-size: 16px;
  font-weight: bold;
  padding-left: 5px;
  margin-bottom: 5px;
}
.filters_main .accordion-item {
  border: none;
  border-top: 1px solid #e1e1e1;
  border-radius: 0px;
}
.filters_main .accordion-item:first-of-type .accordion-button {
  border-radius: 0px;
}
.filters_main .accordion-item .accordion-button {
  font-size: 17px;
  font-weight: bold;
}
.filters_main .accordion-item .accordion-button:focus {
  box-shadow: none;
}
.filters_main .accordion-item .accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
  color: #3c3c3c;
}
.filters_main .accordion-body {
  padding-top: 0px;
}
.filters_main .filter_price {
  padding-left: 15px;
}
.filters_main .filter_price .form-group {
  margin-bottom: 0px;
  width: 49%;
  display: inline-block;
}
.filters_main .filter_price .form-group:last-child {
  float: right;
}
.filters_main .filter_price .form-group .form-control {
  border-radius: 50px;
  height: 42px;
}
.filters_main .filter_sum_total {
  padding-right: 15px;
}
.filters_main .filter_sum_total .form-group {
  margin-bottom: 0px;
}
.filters_main .filter_sum_total .form-group .form-control {
  border-radius: 50px;
  height: 42px;
}
.filters_main .fil_category {
  padding-left: 15px;
  margin-top: 10px;
}
.filters_main .fil_category h4 {
  margin-bottom: 10px;
}
.filters_main .fil_category .form-group {
  margin-bottom: 0px;
  width: 16%;
  display: inline-block;
}
.filters_main .filters_btn .main_btn {
  border-radius: 0px;
  margin-top: 5px;
}
.filters_main .filters_btn .main_btn:hover::before {
  height: 690%;
}
.filters_main .filter_web_btn {
  margin: 20px 0px;
}

.store_top_part {
  width: 100%;
  float: left;
  margin-bottom: 30px;
}
.store_top_part .left_part {
  width: auto;
  float: left;
  padding-top: 8px;
}
.store_top_part .right_part {
  width: auto;
  display: flex;
  vertical-align: top;
  float: right;
}
.store_top_part .right_part .filters_btn_new {
  display: grid;
  float: left;
  margin-right: 15px;
}
.store_top_part .right_part .form-select {
  display: grid;
  width: 100%;
  border-radius: 50px;
}

.store_btm_part .special_no {
  margin-top: 0px;
}
.store_btm_part .special_no .special_no_box {
  margin-bottom: 35px;
}
.store_btm_part .special_no .special_no_box .special_no_box_btm {
  text-align: center;
}

.filters_mobile {
  display: none;
}

.filters_mobile_btn {
  left: 0;
  transform: rotate(-90deg) translate(-50%, 50%);
  position: fixed;
  bottom: 50%;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #f2f2f2; */
  /* box-shadow: 0 0 5px rgb(0 0 0 / 15%); */
  height: 32px;
  min-width: 100px;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  transform-origin: 0;
  white-space: nowrap;
  border-radius: 0px;
  font-size: 16px;
  background: #ff6100;
  border-color: #ff6100;
  color: #fff;
  font-weight: 600;
}
.filters_mobile_btn:hover {
  color: #fff;
}

/* ----------------------------- store_css_end ---------------------------- */
/* ------------------------------ faq_css_start ----------------------------- */
.faq_main {
  margin-bottom: 40px;
}
.faq_main .accordion-button {
  font-size: 16px;
  font-weight: bold;
}
.faq_main .accordion-button:not(.collapsed) {
  color: #ff6100;
  background-color: #fff3eb;
}

/* ------------------------------ faq_css_end ----------------------------- */
/* ------------------------------ cms_css_start ----------------------------- */
.terms_title {
  margin-top: 0;
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
  color: #222;
  margin-bottom: 7px;
}

/* ------------------------------ cms_css_end ----------------------------- */
/* -------------------------- resposive_css_import -------------------------- */
@media (max-width: 1199px) {
  /* ----------------------------- home_css_start ----------------------------- */
  .search_home_main .search_home_in .search_title,
.search_home_main .search_home_in .search_form,
.search_home_main .search_home_in .advance_search_main {
    padding-left: 40px;
  }
  .about_home {
    margin: 50px 0px 50px 0px;
  }
  .about_home .about_thumb_big {
    transform: translateY(135px) translateX(0);
  }
  .about_home .about_thumb_shape {
    left: 35px;
  }
  .mobile_service_sec .features_item .features_content h3 {
    font-size: 20px;
  }
  .special_no {
    margin-top: 30px;
  }
  .web_title {
    margin-bottom: 35px;
  }
  .footer_sec {
    margin-top: 30px;
  }
  .footer_sec .footer_btm .copyrights {
    padding-top: 0px;
  }
  /* ----------------------------- home_css_end ----------------------------- */
  /* ----------------------------- store_css_star ----------------------------- */
  .inner_page_sce {
    margin-top: 40px;
  }
  /* ----------------------------- store_css_end ----------------------------- */
}
@media (max-width: 991px) {
  /* ----------------------------- home_css_start ----------------------------- */
  .navbar-light .navbar-nav .nav_link_btn {
    margin-top: 10px;
  }
  .search_home_main .search_home_in::before {
    right: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
  }
  .search_home_main .search_home_in .search_title,
.search_home_main .search_home_in .search_form,
.search_home_main .search_home_in .advance_search_main {
    padding-left: 20px;
  }
  .about_home {
    margin: 30px 0px 30px 0px;
  }
  .about_home .about_home_left {
    margin-bottom: 20px;
  }
  .about_home .about_thumb_wrap {
    margin-bottom: 130px;
  }
  .about_home .about_thumb_shape {
    left: 200px;
  }
  .steps_three .steps_box {
    text-align: center;
  }
  .payment_info {
    padding: 25px 0px 10px 0px;
  }
  .payment_info .payment_info_blog {
    margin-bottom: 25px;
  }
  .mobile_service_sec {
    margin-top: 40px;
  }
  .mobile_service_sec .features_service {
    padding: 0px 10px;
  }
  .mobile_service_sec .features_item {
    display: block;
    text-align: center;
  }
  .mobile_service_sec .features-6 {
    padding-top: 37px;
    padding-bottom: 30px;
  }
  .mobile_service_sec .features-2,
.mobile_service_sec .features-4,
.mobile_service_sec .features-1,
.mobile_service_sec .features-3,
.mobile_service_sec .features-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer_sec {
    padding: 30px 0px;
  }
  .footer_sec .footer_part_two {
    margin-top: 20px;
  }
  .footer_sec .footer_part_two ul li {
    margin-bottom: 0;
  }
  /* ----------------------------- home_css_end ----------------------------- */
  /* ----------------------------- store_css_start ---------------------------- */
  .filters_main {
    display: none;
  }
  .filters_mobile {
    display: block;
  }
  .filters_mobile .offcanvas-header {
    padding-bottom: 0px;
  }
  .filters_mobile .offcanvas-header .offcanvas-title {
    font-weight: bold;
    color: #ff6100;
  }
  .filters_mobile .filters_main {
    display: block;
    border-top: none;
    box-shadow: none;
    border-radius: 0px;
  }
  .filters_mobile .filters_main .filter_price {
    padding-left: 0px;
  }
  .filters_mobile .filters_main .fil_category {
    padding-left: 0px;
  }
  .filters_mobile .filters_main .fil_category .form-group {
    width: 49%;
  }
  .filters_mobile .filters_main .filters_btn .main_btn:hover::before {
    height: 740%;
  }
  .filters_mobile .offcanvas-body {
    padding-top: 0px;
    padding: 0px;
  }
  .store_top_part .right_part .filters_btn_new {
    display: none;
  }
  #panelsStayOpen-collapseThree .accordion-body {
    height: 150px;
    overflow-y: scroll;
  }
  .load_more_btn {
    margin-bottom: 20px;
  }
  /* ----------------------------- store_css_end ---------------------------- */
}
@media (max-width: 767px) {
  /* ----------------------------- home_css_start ----------------------------- */
  .nav_bar_ctm .navbar-brand img {
    width: 80%;
  }
  .search_home_main {
    margin-top: 0px;
    background: #1f1f1f;
  }
  .search_home_main .search_home_in {
    padding: 20px 0;
  }
  .search_home_main .search_home_in::before {
    right: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .search_home_main .search_home_in .search_title,
.search_home_main .search_home_in .search_form,
.search_home_main .search_home_in .advance_search_main {
    padding-left: 0px;
  }
  .search_home_main .search_home_in .search_title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .search_home_main .search_home_in .search_form p {
    font-size: 13px;
    line-height: 22px;
  }
  .search_home_main .search_home_in .search_form ul {
    display: inline-block;
    width: 100%;
  }
  .search_home_main .search_home_in .search_form ul li {
    width: 100%;
    margin-right: 0px;
  }
  .search_home_main .search_home_in .search_form ul .form-group {
    margin-bottom: 15px;
  }
  .search_home_main .search_home_in .search_form .search_btn .main_btn {
    width: 100%;
  }
  .search_home_main .search_home_in .search_form .search_btn .main_btn:hover::before {
    height: 380px;
  }
  .search_home_main .search_home_in .advance_search_main .main_btn {
    width: 100%;
    text-align: center;
  }
  .search_home_main .search_home_in .advance_search_main .main_btn:hover::before {
    height: 380px;
  }
  .modal-content .advance_lbl {
    font-size: 14px;
  }
  .modal-content .modal-footer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .modal-content .modal-footer .main_btn {
    width: 100%;
  }
  .carousel-control-prev-icon,
.carousel-control-next-icon {
    font-size: 30px;
  }
  .about_home {
    margin: 20px 0px 30px 0px;
  }
  .about_home .about_thumb_wrap {
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .about_home .about_thumb_shape {
    display: none;
  }
  .about_home .about_thumb_small {
    position: relative;
  }
  .about_home .about_thumb_big {
    transform: translateY(0px) translateX(0);
  }
  .about_home .about_home_left h2 {
    line-height: 30px;
    font-size: 22px;
    margin: 5px 0px;
  }
  .web_title {
    margin-bottom: 20px;
  }
  .web_title h4 {
    font-size: 24px;
    line-height: 30px;
  }
  .web_title p {
    font-size: 13px;
  }
  .steps_box {
    padding: 15px 10px;
  }
  .steps_box a {
    margin: 15px 0px 5px 0px;
  }
  .mobile_service_sec {
    margin-top: 20px;
  }
  .mobile_service_sec .features_service {
    margin-top: 15px;
    display: block;
  }
  .mobile_service_sec .features_service::before {
    display: none;
  }
  .mobile_service_sec .features_service .features_item_box {
    border-right: none;
    padding-right: 0px;
    margin-right: 0px;
  }
  .mobile_service_sec .features_service .features-6 {
    padding-top: 37px;
    padding-bottom: 30px;
  }
  .mobile_service_sec .features_service .features-2,
.mobile_service_sec .features_service .features-4,
.mobile_service_sec .features_service .features-1,
.mobile_service_sec .features_service .features-3,
.mobile_service_sec .features_service .features-5 {
    padding-bottom: 0px;
  }
  .mobile_service_sec .features_item .features_content {
    margin-left: 0px;
  }
  .footer_sec {
    padding: 20px 0px;
    margin-top: 10px;
  }
  .footer_sec .footer_part_two ul li a {
    color: #fff;
    font-size: 14px;
  }
  /* ----------------------------- home_css_end ----------------------------- */
  /* ----------------------------- store_css_strat ---------------------------- */
  .sub_banner {
    background-position: bottom;
  }
  .sub_banner h1 {
    font-size: 35px;
    padding: 50px 0px 55px 0px;
  }
  .inner_page_sce {
    margin-top: 20px;
  }
  .store_top_part .left_part {
    width: 100%;
  }
  .store_top_part .right_part {
    float: left;
    width: 100%;
    margin-top: 10px;
  }
  /* ----------------------------- store_css_end ---------------------------- */
}
/* -------------------------- resposive_css_import -------------------------- *//*# sourceMappingURL=main.css.map */