@import 'var';
@import 'button';
@import 'header';
@import 'animation';
@import 'general';
@import 'radio_checkbox';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  word-wrap: break-word;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  color: $text_info;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke: 1px transparent;
  background-color: $bg_white;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: 0px;

  &:after {
    content: '';
    display: block;
  }
}

.container {
  width: 100%;
  max-width: 1170px;
}

/* ----------------------------- home_css_start ----------------------------- */

.in_content {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
}

.banner_text {
  color: $text_white;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  h1 {
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 35px;
  }

  p {
    font-weight: 500;
    line-height: 27px;
    max-width: 750px;
    margin: 0px auto;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-size: 50px;
  color: $text_secondary;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 9;
}

.home_about_sec {
  margin-bottom: 40px;
}

.hed_number {
  position: relative;
  margin-left: 10px;
  width: 198px;

  .call_icon {
    position: absolute;
    font-size: 24px;
    color: $text_secondary;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    left: 0px;
    top: 5px;
  }
}

.call_info {
  display: inline-block;
  vertical-align: middle;
  padding-left: 40px;

  span {
    width: 100%;
    color: #ff5f00;
    font-size: 13px;
  }

  a {
    width: 100%;
    display: inline-block;
    color: $text_primary;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.search_home_main {
  position: relative;
  margin-top: -65px;

  .search_home_in {
    position: relative;
    padding: 45px 12px 45px 0px;
    z-index: 1;

    &::before {
      content: '';
      height: 100%;
      width: 135%;
      background-color: #1f1f1f;
      position: absolute;
      bottom: 0;
      right: 70px;
      z-index: -1;
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    }
    .search_title {
      font-size: 28px;
      color: $text_white;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 44px;
    }
    .search_form {
      p {
        color: $text_white;
        margin-bottom: 10px;
      }

      ul {
        display: flex;

        li {
          margin-right: 15px;
          width: 224px;

          &.search_btn {
            width: auto;
          }
        }
        input.form-control::-webkit-input-placeholder {
          color: #fff;
        }
        input.form-control::-moz-placeholder {
          color: #fff;
        }
        input.form-control::-ms-placeholder {
          color: #fff;
        }
        input.textbox::-ms-input-placeholder {
          color: #fff;
        }
        input.textbox::-ms-input-placeholder {
          color: #fff;
        }
      }

      .form-control {
        border-radius: 50px;
        background-color: #3d3d3d;
        border-color: transparent;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.5px;
        color: $text_white;
      }
    }

    .search_btn .main_btn {
      line-height: 46px;
    }
  }
}

.about_home {
  margin: 50px 0px 80px 0px;

  .about_home_left {
    h5 {
      color: $text_secondary;
      font-size: 17px;
      font-weight: 600;
      letter-spacing: 1px;
    }

    h2 {
      font-weight: 900;
      font-size: 25px;
      color: $text_primary;
      max-width: 414px;
      display: inline-block;
      line-height: 34px;
      margin: 10px 0px;
    }

    p {
      font-size: 14px;
      color: $text_info;
      line-height: 26px;
    }

    ul li {
      margin-bottom: 7px;
      font-size: 15px;
      color: #393939;
      font-weight: 600;

      i {
        color: $text_secondary;
        padding-right: 5px;
      }
    }
  }
  .about_thumb_wrap {
    position: relative;
    padding-left: 40px;
  }

  .about_thumb_small {
    border-radius: 5px;
    position: absolute;
    left: 0px;
    top: 0;
  }

  .about_thumb_big {
    text-align: right;
    z-index: 1;
    transform: translateY(135px) translateX(35px);
  }

  .about_thumb_shape {
    position: absolute;
    top: 235px;
    left: 65px;
    z-index: -1;
  }
}

.web_title {
  margin-bottom: 45px;

  h4 {
    font-size: 30px;
    color: $text_primary;
    font-weight: 900;
  }

  p {
    font-size: 16px;
    color: $text_secondary;
    margin-bottom: 0px;
    margin-top: 5px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
}

.steps_box {
  padding: 25px 20px;
  background-color: $bg_light;
  border-radius: 10px;
  margin-bottom: 40px;

  .steps_icon {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.steps_box {
  &:hover .steps_icon {
    -webkit-animation: icon-bounce 0.8s ease-out infinite;
    animation: icon-bounce 0.8s ease-out infinite;
  }

  a {
    font-size: 25px;
    margin: 20px 0px 10px 0px;
    display: inline-block;
    color: $text_primary;
    font-weight: 900;
  }
}

.payment_info {
  background-image: url(../images/payment_info_bg.jpg);
  padding: 25px 0px 30px 0px;
  .payment_info_blog {
    h3 {
      font-weight: bold;
      font-size: 20px;
      color: $text_white;
      letter-spacing: 1px;
      margin: 20px 0px 15px;
    }

    p {
      color: $text_white;
      line-height: 24px;
      margin-bottom: 0px;
    }

    img {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
    }

    &:hover img {
      // webkit-animation: 0.3s aplpg_ZoomInZoomOut linear;
      animation: 0.3s aplpg_ZoomInZoomOut linear;
    }
  }
}

.mobile_service_sec {
  margin-top: 50px;
  position: relative;

  .features_service {
    border: 3px solid $border_primary;
    border-radius: 10px;
    padding: 40px 30px;
    position: relative;
    display: flex;
    margin-top: 45px;

    &::before {
      content: '';
      background: #e1e1e1;
      width: 95%;
      margin: auto;
      height: 1px;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
    }
  }

  .features_item_box {
    border-right: 1px solid $border_primary;
    padding-right: 20px;
    margin-right: 20px;
  }
  .features_item {
    display: flex;

    &:hover .features_icon {
      -webkit-animation: icon-bounce 0.8s ease-out infinite;
      animation: icon-bounce 0.8s ease-out infinite;
    }
    .features_content {
      flex: 1;
      margin-left: 14px;
    }
    .features_content {
      h3 {
        font-weight: 900;
        color: $text_primary;
        font-size: 23px;
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
        line-height: 26px;
      }
    }
    .features_icon {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  .features-2,
  .features-4,
  .features-6,
  .features-1,
  .features-3,
  .features-5 {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .features-box-3 {
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
  }
}

.special_no {
  margin-top: 40px;
  .owl-theme .owl-nav {
    .owl-prev,
    .owl-next {
      display: none;
    }
  }
  .special_no_box {
    background-color: $bg_light;
    border-radius: 0px 40px;
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;

    .special_no_box_top_one {
      position: relative;
      padding: 18px 18px 0px 18px;

      h4 {
        color: $text_primary;
        font-weight: 900;
        font-size: 23px;
        letter-spacing: 0.5px;
        margin-bottom: 5px;
      }

      ul {
        margin: 10px 0px 15px;

        li {
          display: inline-block;
          color: $text_info;

          + li {
            padding: 0px 8px;
          }

          &:last-child {
            text-transform: uppercase;
            color: $text_secondary;
            padding-left: 15px;
          }
        }
      }

      a {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 23px;
        color: #ff4444;
      }
    }

    .special_no_box_btm {
      border-radius: 0px 20px 0px 20px;
      background-color: $bg_secondary;
      text-align: center;
      font-size: 22px;
      font-weight: 900;
      color: $text_white;
      letter-spacing: 0.5px;
      padding: 6px 0px;
    }
  }
}

.footer_sec {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 0px;
  position: relative;
  z-index: 2;
  background-image: url(../images/footer_bg.jpg);
  margin-top: 60px;
  padding-bottom: 30px;

  h3 {
    font-size: 23px;
    font-weight: 900;
    letter-spacing: 1px;
    color: $text_white;
  }

  .footer_part_one {
    a {
      display: inline-block;
      margin-bottom: 30px;
    }
    p {
      color: $text_white;
      margin-top: 10px;
    }
  }
  .footer_part_two {
    margin-top: 30px;
    h3 {
      margin-bottom: 35px;
    }

    ul li {
      margin-bottom: 10px;
      display: inline-block;
      margin-right: 15px;

      a {
        color: $text_white;
        font-size: 16px;

        &:hover {
          color: $bg_secondary;
        }
      }
    }
  }
  .footer_part_three_in {
    padding: 70px 30px 30px 30px;
    background-color: $bg_primary;
    position: relative;
    margin-top: -92px;
    margin-bottom: -30px;

    &:before {
      position: absolute;
      right: 20px;
      bottom: 0;
      background: url(../images/newsletter_img.png) no-repeat center
        (center / contain);
      content: '';
      width: 74px;
      height: 65px;
    }
    .box_border {
      width: 0;
      position: absolute;
      top: 0;
      height: 0;
      border-top: 42px solid $border_white;
      border-left: 42px solid transparent;
      right: 0;
    }
    form {
      margin-top: 30px;
      margin-bottom: 60px;
    }
    .form-group {
      margin-bottom: 10px;
    }

    .form-control {
      border-radius: 50px;
      font-size: 15px;
      border: none;
      padding-left: 15px;
    }

    .main_btn {
      width: 100%;
      display: inline-block;
      background-color: $text_primary;
      line-height: 45px;

      &::before,
      &:hover::before {
        background-color: $text_primary;
      }
    }
  }
}

.footer_btm {
  width: 100%;
  display: inline-block;
  background-color: $text_primary;
  padding: 10px 0px;

  .copyrights {
    color: $text_white;
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }
}
.advance_lbl {
  font-weight: bold;
  font-size: 16px;
}

/* ------------------------------ home_css_end ------------------------------ */

/* ----------------------------- popup_css_start ---------------------------- */
.modal-dialog {
  .modal-content {
    border: none;
    .modal-header {
      background-color: $bg_primary;
      padding: 10px 15px;
      .modal-title {
        color: #fff;
        font-weight: bold;
      }
    }
    .modal-body {
      .form-group {
        .form-control {
          border-radius: 50px;
          padding-left: 15px;
        }
        textarea.form-control {
          min-height: auto;
          line-height: normal;
          height: auto;
          border-radius: 25px;
          padding-top: 10px;
        }
      }
    }
  }
}
/* ----------------------------- popup_css_end ---------------------------- */

/* ----------------------------- store_css_start ---------------------------- */
.sub_banner {
  background-image: url(../images/sub_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    color: #fff;
    font-size: 50px;
    padding: 100px 0px 125px 0px;
    text-transform: uppercase;
    font-weight: 900;
    color: $text_white;
    letter-spacing: 2px;
  }
}

.inner_page_sce {
  margin-top: 50px;
}
.filters_main {
  // border: 1px solid $border_primary;
  overflow: hidden;
  width: 100%;
  top: 60px;
  position: absolute;
  // z-index: 1;
  // box-shadow: 0 0 12px rgb(0 0 0 / 13%);
  z-index: 1;
  box-shadow: 0 0 12px rgb(247 202 176 / 50%);
  border-radius: 10px;
  background: #fff;

  h3 {
    font-size: 22px;
    color: $text_primary;
    font-weight: 900;
    padding: 15px;
    border-bottom: 1px solid #f7cab0;
    margin-bottom: 20px;
  }
  h4 {
    color: #3c3c3c;
    font-size: 16px;
    font-weight: bold;
    padding-left: 5px;
    margin-bottom: 5px;
  }
  .accordion-item {
    border: none;
    border-top: 1px solid #e1e1e1;
    border-radius: 0px;

    &:first-of-type .accordion-button {
      border-radius: 0px;
    }
    .accordion-button {
      font-size: 17px;
      font-weight: bold;
    }

    .accordion-button:focus {
      box-shadow: none;
    }
    .accordion-button:not(.collapsed) {
      background-color: transparent;
      box-shadow: none;
      color: $text_primary;
    }
  }

  .accordion-body {
    padding-top: 0px;
  }
  .filter_price {
    padding-left: 15px;
    .form-group {
      margin-bottom: 0px;
      width: 49%;
      display: inline-block;

      &:last-child {
        float: right;
      }
      .form-control {
        border-radius: 50px;
        height: 42px;
      }
    }
  }
  .filter_sum_total {
    padding-right: 15px;
    .form-group {
      margin-bottom: 0px;

      .form-control {
        border-radius: 50px;
        height: 42px;
      }
    }
  }
  .fil_category {
    // height: 305px;
    // overflow-x: hidden;
    // overflow-y: scroll;
    padding-left: 15px;
    margin-top: 10px;

    h4 {
      margin-bottom: 10px;
    }
    .form-group {
      margin-bottom: 0px;
      width: 16%;
      display: inline-block;
    }
  }
  .filters_btn {
    .main_btn {
      border-radius: 0px;
      margin-top: 5px;

      &:hover::before {
        height: 690%;
      }
    }
  }
  .filter_web_btn {
    margin: 20px 0px;
  }
}
.store_top_part {
  width: 100%;
  float: left;
  margin-bottom: 30px;
  .left_part {
    width: auto;
    float: left;
    padding-top: 8px;
  }
  .right_part {
    width: auto;
    display: flex;
    vertical-align: top;
    float: right;
    .filters_btn_new {
      display: grid;
      float: left;
      margin-right: 15px;
    }
    .form-select {
      display: grid;
      width: 100%;
      border-radius: 50px;
    }
  }
}
.store_btm_part {
  .special_no {
    margin-top: 0px;

    .special_no_box {
      margin-bottom: 35px;
      .special_no_box_btm {
        text-align: center;
      }
    }
  }
}
.filters_mobile {
  display: none;
}
.filters_mobile_btn {
  left: 0;
  -webkit-transform: rotate(-90deg) translate(-50%, 50%);
  -ms-transform: rotate(-90deg) translate(-50%, 50%);
  transform: rotate(-90deg) translate(-50%, 50%);
  position: fixed;
  bottom: 50%;
  z-index: 999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* background: #f2f2f2; */
  /* box-shadow: 0 0 5px rgb(0 0 0 / 15%); */
  height: 32px;
  min-width: 100px;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  white-space: nowrap;
  border-radius: 0px;
  font-size: 16px;
  background: $bg_primary;
  border-color: $bg_primary;
  color: $text_white;
  font-weight: 600;

  &:hover {
    color: $text_white;
  }
}
/* ----------------------------- store_css_end ---------------------------- */

/* ------------------------------ faq_css_start ----------------------------- */
.faq_main {
  margin-bottom: 40px;
  .accordion-button {
    font-size: 16px;
    font-weight: bold;
  }
  .accordion-button:not(.collapsed) {
    color: $text_secondary;
    background-color: #fff3eb;
  }
}
/* ------------------------------ faq_css_end ----------------------------- */

/* ------------------------------ cms_css_start ----------------------------- */
.terms_title {
  margin-top: 0;
  font-weight: bold;
  font-size: 25px;
  margin-top: 20px;
  color: #222;
  margin-bottom: 7px;
}

/* ------------------------------ cms_css_end ----------------------------- */

/* -------------------------- resposive_css_import -------------------------- */
@import 'media';
/* -------------------------- resposive_css_import -------------------------- */
